<!DOCTYPE html>
<html>
<title>Stripe Payment Demo</title>
<body>
    <h3>Welcome to Payment Gateway</h3>
    <form action="/book" method="post">
       <script
          src="//checkout.stripe.com/v2/checkout.js"
          class="stripe-button"
          data-key="pk_test_51MnHvySBHuevM7gjBSCCPY1G9ejS0qGvUJw1Do0T9nAUyvbeosfsv6pZ0z9I2CvXCEXgpu4OHKZRGXZ3j2ppYgvL00kLD93Mu3"
          data-amount="00";
          data-currency="inr"
          data-name="GoBook"
          data-description="Book My Hotel"
          data-locale="auto" >
        </script>
    </form>
</body>
</html>