<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>goBook - Book your room now</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logox"><a href="/">goBook</a></label>
      <ul>
        <li><a class="activex" href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a class="signup" href="signup.html">Sign up</a></li>
        <li><a class="login" href="signin.html">Login</a></li>
        <li><a class="reg-hotel" href="signuphotel.html">Register Hotel</a></li>
      </ul>
    </nav>
    <section class="headline">
      <h1>Over 9,000 hotels and homes across 6 countries</h1>
      <form class="search-form" action="/search" method="post">
        <input
          type="text"
          autocomplete="on"
          name="query"
          placeholder="Search by city"
        />
        <input type="submit" class="search-btn" value="Search" name="submit" />
      </form>
    </section>
    <section class="hotelList">
      <% if(hotel!=null) { %> <% hotel.forEach(function(hotel){ %>
      <div class="hotelList-container">
        <div class="hotelList-img">
          <img
            src="https://cdn-images-1.medium.com/max/2000/1*HFAEJvVOq4AwFuBivNu_OQ.png"
            alt="Flexbox Feature"
          />
        </div>
        <div class="hotelList-info">
          <div class="hotel-info">
            <h2 class="hotel-name">
              <a href="hotel_link"><%= hotel.name %></a>
            </h2>
            <span class="rating"
              ><i class="fas fa-star"></i> <%= hotel.rating %></span
            >
          </div>
          <span class="hotel-address"><%= hotel.address %></span>
          <div class="hotel-price">
            <span class="hotelList-price"><%= hotel.price %></span
            ><span class="hotel-price-tag"> - room per night</span>
          </div>
        </div>
      </div>
      <% }) %> <% } %>
    </section>

    <style>
      * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
        font-family: "montserrat", "Lato", "Arial", sans-serif;
      }
      body {
        font-family: montserrat;
      }
      /* HEADINGS */

      h1,
      p {
        color: #fff;
        text-align: center;
        line-height: 1.4;
      }

      h1 {
        font-size: 2.2rem;
      }

      h2 {
        color: #000;
        font-size: 1.3rem;
        line-height: 1.4;
        margin-bottom: 10px;
      }

      /* BASIC SETUP */
      nav {
        background: #ffffff;
        height: 80px;
        margin: 0 4%;
      }
      .logox {
        color: #060047;
        font-size: 35px;
        line-height: 80px;
        font-weight: bold;
      }
      nav ul {
        float: right;
        margin-right: 0px;
      }
      nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
      }
      nav ul li a {
        color: #252525;
        font-size: 18px;
        padding: 6px 6px;
        border-radius: 3px;
        text-transform: capitalize;
        font-weight: 500;
      }
      .signup {
        border: 1px solid #222222c7;
        padding: 8px;
        margin-right: -4px;
      }
      .login {
        padding: 8px;
        background: #1859c9;
        border: 1px solid #1859c9;
        color: #fff;
      }
      .reg-hotel {
        border: 1px solid #222;
        background: #2b3467;
        border-radius: 50px;
        padding: 10px;
        color: #fff;
      }
      .login:hover, .reg-hotel:hover {
        color: #222;
        background: #eb455f;
      }

      .signup:hover {
        background: #eb455f;
        color: #222;
      }
      a.activex {
        border-bottom: 4px solid #1859c9;
      }
      a:hover {
        color: #e90064;
      }
      .checkbtn {
        font-size: 30px;
        color: #eb455f;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
      }
      #check {
        display: none;
      }

      /*Search Bar*/
      form.search-form {
        padding: 20px 0 0 0;
        text-align: center;
        width: 100%;
      }

      .search-form input[type="text"] {
        width: 35%;
        padding: 12px;
        border-radius: 20px;
        background: #eeee;
        color: #252525;
        border: 0;
        outline: 0;
      }

      .search-form .search-btn {
        width: 15%;
        padding: 12px;
        border-radius: 20px;
        border: 0;
        outline: 0;
        font-weight: 900;
        cursor: pointer;
        background: #bad7e9;
      }
      .search-form .search-btn:hover {
        background: #eb455f;
        color: #ffffff;
      }
      input[type="text"]:focus-visible {
        border: 1px solid #ff5722;
        outline: 0;
      }

      /* SECTIONS */
      .headline {
        width: 100%;
        height: 20vh;
        min-height: 230px;
        background: #2b3467;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .hotelList {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        background-color: #ffffff;
        padding: 50px 20px;
        justify-content: center;
        gap: 2%;
      }

      .hotelList-container {
        width: 30%;
        margin-top: 10px;
      }

      .hotelList-container p {
        color: #000;
        text-align: center;
        line-height: 1.4;
        margin-bottom: 15px;
      }

      .hotelList-container img {
        width: 100%;
        margin-bottom: 5px;
      }

      .hotel-name a {
        text-align: left;
        font-size: 16px;
        color: #000;
        text-transform: capitalize;
      }
      span.hotel-address {
        color: #222222a8;
      }

      .hotel-price {
        margin: 10px 0 0 0;
      }
      .hotel-info {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 4px;
      }
      .rating {
        font-size: 14px;
        font-weight: 700;
      }

      /* Media Queries */
      /* Mobile Devices - Phones/Tablets */

      @media only screen and (max-width: 720px) {
        label.logox {
          font-size: 30px;
          margin-left: 40px;
        }
        nav ul li a {
          font-size: 16px;
        }
        .hotelList {
          flex-direction: column;
          padding: 50px;
        }

        /* MOBILE HEADINGS */

        h1 {
          font-size: 1.9rem;
        }

        h2 {
          font-size: 1rem;
        }

        p {
          font-size: 0.8rem;
        }

        /* MOBILE NAVIGATION */
        .checkbtn {
          display: block;
        }
        ul {
          position: fixed;
          width: 100%;
          height: 100vh;
          background: #2c3e50;
          top: 80px;
          left: -100%;
          text-align: center;
          transition: all 0.5s;
        }
        nav ul li {
          display: block;
          margin: 50px 0;
          line-height: 30px;
        }
        nav ul li a {
          font-size: 20px;
        }
        a:hover,
        a.activex {
          background: none;
          color: #0082e6;
        }
        #check:checked ~ ul {
          left: 0;
        }

        /* SECTIONS */

        .headline {
          height: 20vh;
        }

        .hotelList-container p {
          margin-bottom: 25px;
        }

        .hotelList-container {
          margin-top: 20px;
        }

        .hotelList-container:nth-child(2) {
          order: -1;
        }
      }
    </style>
  </body>
</html>
