<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>goBook - Book your room now</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <nav>
      <input type="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logox">goBook</label>
      <ul>
        <li><a class="activex" href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Feedback</a></li>
      </ul>
    </nav>
    <section class="headline">
      <h1>Responsive Navigation</h1>
      <p>Using CSS grid and flexbox to easily build navbars!</p>
    </section>
    <section class="hotelList">
        <!--
      <div class="hotelList-container">
        <div class="hotelList-img">
          <img
            src="https://cdn-images-1.medium.com/max/2000/1*HFAEJvVOq4AwFuBivNu_OQ.png"
            alt="Flexbox Feature"
          />
        </div>
        <div class="hotelList-info">
          <div class="hotel-info">
            <h2 class="hotel-name">
              <a href="hotel_link">Hotel Red Tomato</a>
            </h2>
            <span class="rating">2.5 <i class="fas fa-star"></i></span>
          </div>
          <span class="hotel-address"
            >121, 1, Sansarchand road, behind City centre complex , jalupura,
            Jaipur</span
          >
          <div class="hotel-price">
            <span class="hotelList-price">1200</span
            ><span class="hotel-price-tag"> - per room per night</span>
          </div>
        </div>
      </div>
      <div class="hotelList-container">
        <div class="hotelList-img">
          <img
            src="https://cdn-images-1.medium.com/max/2000/1*HFAEJvVOq4AwFuBivNu_OQ.png"
            alt="Flexbox Feature"
          />
        </div>
        <div class="hotelList-info">
          <div class="hotel-info">
            <h2 class="hotel-name">
              <a href="hotel_link">Hotel Red Tomato</a>
            </h2>
            <span class="rating">2.5 <i class="fas fa-star"></i></span>
          </div>
          <span class="hotel-address"
            >121, 1, Sansarchand road, behind City centre complex , jalupura,
            Jaipur</span
          >
          <div class="hotel-price">
            <span class="hotelList-price">1200</span
            ><span class="hotel-price-tag"> - per room per night</span>
          </div>
        </div>
      </div>

      <div class="hotelList-container">
        <div class="hotelList-img">
          <img
            src="https://cdn-images-1.medium.com/max/2000/1*HFAEJvVOq4AwFuBivNu_OQ.png"
            alt="Flexbox Feature"
          />
        </div>
        <div class="hotelList-info">
          <div class="hotel-info">
            <h2 class="hotel-name">
              <a href="hotel_link">Hotel Red Tomato</a>
            </h2>
            <span class="rating">2.5 <i class="fas fa-star"></i></span>
          </div>
          <span class="hotel-address"
            >121, 1, Sansarchand road, behind City centre complex , jalupura,
            Jaipur</span
          >
          <div class="hotel-price">
            <span class="hotelList-price">1200</span
            ><span class="hotel-price-tag"> - per room per night</span>
          </div>
        </div>
      </div>
      <div class="hotelList-container">
        <div class="hotelList-img">
          <img
            src="https://cdn-images-1.medium.com/max/2000/1*HFAEJvVOq4AwFuBivNu_OQ.png"
            alt="Flexbox Feature"
          />
        </div>
        <div class="hotelList-info">
          <div class="hotel-info">
            <h2 class="hotel-name">
              <a href="hotel_link">Hotel Red Tomato</a>
            </h2>
            <span class="rating">2.5 <i class="fas fa-star"></i></span>
          </div>
          <span class="hotel-address"
            >121, 1, Sansarchand road, behind City centre complex , jalupura,
            Jaipur</span
          >
          <div class="hotel-price">
            <span class="hotelList-price">1200</span
            ><span class="hotel-price-tag"> - per room per night</span>
          </div>
        </div>
      </div>
    -->

      <% if(hotel!=null) { %> <% hotel.forEach(function(hotel){ %>
      <div class="hotelList-container">
        <div class="hotelList-img">
          <img
            src="https://cdn-images-1.medium.com/max/2000/1*HFAEJvVOq4AwFuBivNu_OQ.png"
            alt="Flexbox Feature"
          />
        </div>
        <div class="hotelList-info">
          <div class="hotel-info">
            <h2 class="hotel-name">
              <a href="hotel_link"><%= hotel.name %></a>
            </h2>
            <span class="rating"
              ><%= hotel.rating %><i class="fas fa-star"></i
            ></span>
          </div>
          <span class="hotel-address"><%= hotel.address %></span>
          <div class="hotel-price">
            <span class="hotelList-price"><%= hotel.price %></span
            ><span class="hotel-price-tag"> - room per night</span>
          </div>
        </div>
      </div>
      <% }) %> <% } %>
    </section>

    <style>
      * {
        padding: 0;
        margin: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
        font-family: "Lato", "Arial", sans-serif;
      }
      body {
        font-family: montserrat;
      }
      /* HEADINGS */

      h1,
      p {
        color: #fff;
        text-align: center;
        line-height: 1.4;
      }

      h1 {
        font-size: 2.2rem;
      }

      h2 {
        color: #000;
        font-size: 1.3rem;
        line-height: 1.4;
        margin-bottom: 10px;
      }

      /* BASIC SETUP */

      .page-wrapper {
        width: 100%;
        height: auto;
      }

      nav {
        background: #ffffff;
        height: 80px;
        width: 100%;
      }
      label.logox {
        color: #060047;
        font-size: 35px;
        line-height: 80px;
        padding: 0 100px;
        font-weight: bold;
      }
      nav ul {
        float: right;
        margin-right: 20px;
      }
      nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
      }
      nav ul li a {
        color: #252525;
        font-size: 17px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
      }
      a.activex {
        background: #1b9bff;
        transition: 0.5s;
      }
      a:hover {
        color: #e90064;
      }
      .checkbtn {
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
      }
      #check {
        display: none;
      }
      /* SECTIONS */

      .headline {
        width: 100%;
        height: 20vh;
        min-height: 200px;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
          url(https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .hotelList {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        background-color: #ffffff;
        padding: 50px 20px;
        justify-content: center;
        gap: 2%;
      }

      .hotelList-container {
        width: 30%;
        margin-top: 10px;
      }

      .hotelList-container p {
        color: #000;
        text-align: center;
        line-height: 1.4;
        margin-bottom: 15px;
      }

      .hotelList-container img {
        width: 100%;
        margin-bottom: 5px;
      }

      .hotel-name a {
        text-align: left;
        font-size: 16px;
        color: #000;
      }
      span.hotel-address {
        color: #222222a8;
      }

      .hotel-price {
        margin: 10px 0 0 0;
      }
      .hotel-info {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 4px;
      }
      .rating {
        font-size: 14px;
        font-weight: 700;
      }

      /* Media Queries */

      /* Mobile Devices - Phones/Tablets */

      @media only screen and (max-width: 720px) {
        label.logox {
          font-size: 30px;
          padding-left: 50px;
        }
        nav ul li a {
          font-size: 16px;
        }
        .hotelList {
          flex-direction: column;
          padding: 50px;
        }

        /* MOBILE HEADINGS */

        h1 {
          font-size: 1.9rem;
        }

        h2 {
          font-size: 1rem;
        }

        p {
          font-size: 0.8rem;
        }

        /* MOBILE NAVIGATION */
        .checkbtn {
          display: block;
        }
        ul {
          position: fixed;
          width: 100%;
          height: 100vh;
          background: #2c3e50;
          top: 80px;
          left: -100%;
          text-align: center;
          transition: all 0.5s;
        }
        nav ul li {
          display: block;
          margin: 50px 0;
          line-height: 30px;
        }
        nav ul li a {
          font-size: 20px;
        }
        a:hover,
        a.activex {
          background: none;
          color: #0082e6;
        }
        #check:checked ~ ul {
          left: 0;
        }

        /* SECTIONS */

        .headline {
          height: 20vh;
        }

        .hotelList-container p {
          margin-bottom: 25px;
        }

        .hotelList-container {
          margin-top: 20px;
        }

        .hotelList-container:nth-child(2) {
          order: -1;
        }

        /* SEARCH DISABLED ON MOBILE */

        #search-icon {
          display: none;
        }

        .search-input {
          display: none;
        }
      }
    </style>
  </body>
</html>
